<div class="wrap bg-blue-shallow">
    <div class="container admin-center">
        <div class="row lists">
            <!-- 左边导航部分 -->
            <aside class="aside">
                <ul>
                    <li class="bg-blue"><a href="#">数据审核</a></li>
                    <li><a href="#">定制审核</a></li>
                    <li><a href="#">消息中心</a></li>
                </ul>
            </aside>

            <!-- 下面的ui-view存放 -->
            <div ui-view class="main-content theme-blue"></div>
        </div>
    </div>
</div>