<div class="wrap bg-blue-shallow">
    <div class="container personal-center">
        <div class="row lists">
            <!-- 左边导航部分 -->
            <aside class="aside">
                <div><h2>个人中心</h2></div>
                <ul>
                    <li class="bg-blue-deep"><a href="#">账号设置</a></li>
                    <li><a href="#">我的下载</a></li>
                    <li><a href="#">我的收藏</a></li>
                    <li><a href="#">我的数据</a></li>
                    <li><a href="#">我的定制</a></li>
                    <li><a href="#">消息</a></li>
                </ul>
            </aside>

            <!-- 下面的ui-view存放 -->
            <div ui-view class="main-content theme-purple"></div>
        </div>
    </div>
</div>