<div class="wrap platform-feature-all">
	<!-- 平台优势 -->
	<div class="platform-advantage-all">
		<div class="container">
			<div class="row platform-advantage">
				<img src="/assets/images/platform_advantage_title.png" alt="平台特色" />
			</div>
			<div class="feature-advantage-title">一站式数据搜索交易平台</div>
			<div class="feature-advantage-step">
				<div class="row step1">
					<div class="img1"><img src="/assets/images/platform_advantage_step1.png" alt=""></div>
					<div class="img2">全网搜索，国内首个数据垂直搜索引擎</div>
				</div>
				<div class="row step2">
					<div class="img1"><img src="/assets/images/platform_advantage_step2.png" alt=""></div>
					<div class="img2">独家数据，优质数据免费下载</div>
				</div>
				<div class="row step3">
					<div class="img1"><img src="/assets/images/platform_advantage_step3.png" alt=""></div>
					<div class="img2">海量数据，每日TB级更新</div>
				</div>
				<div class="row step4">
					<div class="img1"><img src="/assets/images/platform_advantage_step4.png" alt=""></div>
					<div class="img2">分类详细，数据标签化，快速定位数据</div>
				</div>
				<div class="row step5">
					<div class="img1"><img src="/assets/images/platform_advantage_step5.png" alt=""></div>
					<div class="img2">交易0中介，实现数据交易透明化</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 服务特色 -->
	<div class="platform-feature-all">
		<div class="container">
			<div class="row platform-feature">
				<img src="/assets/images/platform_feature_title.png" alt="平台特色" />
			</div>
			<div class="feature-advantage-blocks">
				<div class="feature-advantage-block">
					<div class="title"><img src="/assets/images/platform_feature_step01.png" alt="全网搜索"></div>
					<div class="content">
						覆盖数据市场90%数据源<br>为您提供一站式数据搜索<br>多源查询、价格对比<br>找数据，上数据淘就够了！
					</div>
				</div>

				<div class="feature-advantage-block">
					<div class="title"><img src="/assets/images/platform_feature_step02.png" alt="免费下载"></div>
					<div class="content">
						独家数据提供免费下载<br>
						实时更新<br>
						您可以获取到最新最全的数据<br>
						数据字段可进行定制
					</div>
				</div>

				<div class="feature-advantage-block">
					<div class="title"><img src="/assets/images/platform_feature_step03.png" alt="数据变现"></div>
					<div class="content">
						免费为您提供数据展示平台<br>
						您只需将数据基本信息<br>
						与联系方式发布至数据淘<br>
						买家将直接与您联系
					</div>
				</div>

				<div class="feature-advantage-block">
					<div class="title"><img src="/assets/images/platform_feature_step04.png" alt="数据定制"></div>
					<div class="content">
						定制数据，发布需求<br>
						免费给您提供需求公示平台<br>
						数据持有方将直接与您联系
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 数据支持 -->
	<div class="data-support-all">
		<div class="container">
			<div class="row data-support">
				<img src="/assets/images/data_support_title.png" alt="平台特色" />
			</div>
			<div class="data-support-block">
				<!-- 数据采集 -->
				<div class="data-get">
					<div class="title">数据采集</div>
					<div class="content">采用先进分布式框架<br>日采集量可达TB级别</div>
				</div>
				<!-- 卧龙大数据图标 -->
				<div class="wolong-big-data">
					<img src="/assets/images/data_support_circle.png" alt="卧龙大数据图标">
					<!-- 数据处理 -->
					<div class="data-deal">
						<div class="title">数据处理</div>
						<div class="content">将清洗后的数据进行分类、标签处理<br>让数据搜索更加高效、便捷</div>
					</div>
				</div>
				<!-- 数据清洗 -->
				<div class="data-clean">
					<div class="title">数据清洗</div>
					<div class="content">对原始数据进行加工<br>使数据规整化、标准化、清晰化</div>
				</div>
			</div>
		</div>
	</div>
</div>