<!-- 顶部导航图片 -->
<div class="wrap quality-data">
	<div class="nav-images">
		<div class="row nav-blocks">
			<div class="text-center">				
				<div class="tianmao-data tianmao-data-active">
					<div class="name-block">天猫数据</div>
				</div>
				<div class="enterprise-data">
					<div class="name-block">企业数据</div>
				</div>
				<div class="microblog-data">
					<div class="name-block">微博数据</div>
				</div>
				<div class="local-data">
					<div class="name-block">本地生活</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap content-all">
		<div class="container tianmao-data">			
			<div class="row data-introduce">
				<div class="line m-r-md  text-right"><span class="circle"></span></div>
				<div class="words">数据介绍</div>
				<div class="line m-l-md text-left"><span class="circle"></span></div>
			</div>

			<div class="row data-introduce-subTitle">
				天猫各行业商品价格、销量、评估、店铺、品牌等数据
			</div>

			<div class="row data-intro-block">
				<div class="data-content">
					<div class="title">01<span>数据涵盖</span></div>
					<div class="content">
						涵盖天猫<span>35</span>个大类，<span>1321</span>个二级分类的&nbsp;<span>10</span>&nbsp;万个品牌，<span>100</span>&nbsp;万个店铺，<span>3000</span>万件商品的各类数据。
					</div>
				</div>
				<div class="data-column">
					<div class="title">02<span>数据字段</span></div>
					<div class="content">
						数据包括商品的基本信息、价格走势、每日销量、评价分析等数据。每日TB级数据更新。
					</div>
				</div>
				<div class="data-value m-t-sm">
					<div class="title">03<span>数据价值</span></div>
					<div class="content">
						数据可用于商品价格分析、销量统计、竞品分析、口碑检测、渠道管理等。
					</div>
				</div>
				<div class="data-demand m-t-sm">
					<div class="title">04<span>专属定制</span></div>
					<div class="content">
						可按照地区（如全国）、行业（如母婴）、时间（如近1个月）进行数据定制。
					</div>
				</div>
			</div>

			<div class="row data-list">
				<div class="line m-r-md  text-right"><span class="circle"></span></div>
				<div class="words">数据列表</div>
				<div class="line m-l-md text-left"><span class="circle"></span></div>
			</div>

			<div class="row data-introduce-subTitle">
				数据列表仅包含部分数据，若需专属定制，请联系客服
			</div>
		</div>
		<div class="wrap quality-data-content">
			<!-- 精品数据左边导航部分 -->
			<div class="quality-data-leftbar m-b-100">
				<ul>
					<li><a href="#">天猫数据</a></li>
					<li><a href="#">企业数据</a></li>
					<li><a href="#">微博数据</a></li>
					<li><a href="#">本地生活</a></li>
				</ul>
			</div>
			
			<!-- 精品数据右边内容部分 -->
			<div class="quality-data-container">
				<div class="row data-type-block">
					<div class="type-key">标签:</div>
					<ul class="type-values">
		                <li ng-class="{'active' : vm.selectedTag === vm.tianmaoTagObj.all.value}" ng-click='vm.setTag(vm.tagObj.all.value)'>全部</li>
		                <li ng-class="{'active' : vm.selectedTag === eachTianmaoTag.value}" ng-repeat="eachTianmaoTag in eachTianmaoTagAttr" ng-bind="eachTag.name" ng-click="vm.setTag.value"></li>
					</ul>
				</div>

				<div class="data-block m-t-md">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="data-block m-t-sm">
					<div class="row data-title">
						<div class="title">全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站全国企业信用系统网站</div>
						<span>免费</span>
					</div>
					<div class="row">
						<div class="data-content">数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业数据说明，数据简介。本数据抓取整理自全国企业</div>						
					</div>
					<div class="row data-subtitle">
						<div class="special-data">独家数据</div>
						<div class="can-download">可下载</div>
						<div class="read-num f-l">
							浏览量<span>32451</span>
						</div>
						<div class="pub-data f-l">
							发布时间<span>2016-03-08</span>
						</div>
						<button type="button" class="btn btn-green look-detail-btn f-r">查看详情</button>
					</div>
				</div>

				<div class="paginations m-t-sm pagination-lg m-b-100" ng-include="'/components/pagination/pagination.html'"></div>


			</div>

			<!-- 右边占位符 -->
			<div class="quality-data-rightbar">
				
			</div>
		</div>


	</div>
</div>


