<div class="container p-b-xlg clearfix">
	<div class="hide" ng-include="'/components/header/header_search_new.tpl.html'" scope="" onload=""></div>
	<div class="row" ng-controller="headerCtrl as vm">	
		<!-- logo区域 -->	
        <div class="logo"><a href="/" style="display:block;width:100%;height:100%;"></a></div>
		<!-- 数据搜索框 -->
        <div header-search is-search-demand="false" ng-if="!$state.is( 'demandList' ) && !$state.is( 'demandDetail' )"></div>
		<!-- 需求搜索框 -->
        <div header-search is-search-demand="true" ng-if="$state.is( 'demandList' ) || $state.is( 'demandDetail' )"></div>
        <!--
		<div class="search">
			<input type="text" placeholder="搜索您想要的数据">
			<button type="button" class="btn-search">搜全网</button>
		</div>	
        -->
		<!-- 二维码部分 -->
        <!--
		<div class="qr-cod" ng-mouseover="vm.showCodDetail()" ng-mouseleave="vm.hideCodDetail()">
			<img src="/assets/images/erweimatop.png" alt="">
			<div class="qr-cod-detail" ng-if="vm.showCode === true">
				<div class="triangle"></div>
				<div class="triangle-white"></div>
				<div class="cod-detail-title">官方微信</div>
				<img src="/assets/images/wx_code.jpg" alt="">
			</div>
		</div>
        -->

	</div>
</div>
<div class="container main-nav" ng-if="!$state.includes( 'userCenter' )">
	<div class="row">
		<div class="navbar">
			<ul class="nav-list">
                <li ng-class="{'active':$state.includes( 'home' )}"><a href="/">首页</a></li>
				<li ng-class="{'active':$state.includes( 'dataList' ) || $state.includes( 'dataDetail' )}"><a href="/search/list">数据市场</a></li>
				<li ng-class="{'active':$state.includes( 'qualityData' )}"><a href="/quality_data">精品数据</a></li>
				<li ng-class="{'active':$state.includes( 'demandList' ) || $state.includes( 'demandDetail' )}"><a href="/demand/list">数据定制</a></li>
				<li ng-class="{'active':$state.includes( 'platformFeature' )}"><a href="/platformFeature">平台特色</a></li>
				<li ng-class="{'active':$state.includes( 'helpCenter' )}"><a href="/help_center/1">帮助中心</a></li>
			</ul>
		</div>
	</div>
</div>
