<!-- 查看详细信息 -->
<div class="wrap bg-blue">
	<div class="container forget-password">
		<div class="row">
			<h2 class="text-center">忘记密码</h2>
		</div>
		<div class="row m-t-md">
			<div class="step-all">
                <div class="line-all"></div>
                <div class="check-step step-1" ng-class="{ 'success' : vm.stepZeroSuccess }">
                    <div class="line"></div>
                    <span class="circle"></span>
                    <p>第一步</p>
                    <div>验证收集</div>
                </div>

                <div class="check-step step-2" ng-class="{ 'success' : vm.stepOneSuccess }">
                    <div class="line"></div>
                    <span class="circle"></span>
                    <p>第二步</p>
                    <div>修改密码</div>
                </div>

                <div class="check-step step-3" ng-class="{ 'success' : vm.stepTwoSuccess }">
                    <div class="line"></div>
                    <span class="circle"></span>
                    <p>第三步</p>
                    <div>密码修改成功</div>
                </div>
            </div>
		</div>

        <!-- 修改密码输入部分 -->
        <!-- 第一步 -->
        <div class="row" ng-class="{ 'hide' : vm.stepOneSuccess }">
            <form class="edit-block">
                <div class="form-group">
                    <div class="input-group">
                        <span class="icon">                             
                            <!-- <svg viewBox="8 27 17 35" width="40" height="38" fill="#ffffff"><use xlink:href="/assets/icon_svgs/sprite.svg#Google_Plus"></use></svg> -->
                            <svg style="width:20px;height:20px;margin-top:10px;" fill="#ffffff"><use xlink:href="/assets/icon_svgs/symbol/svg/sprite.symbol.svg#account"></use></svg>
                        </span>
                        <input type="text" placeholder="用户名" ng-model="vm.username">
                    </div>
                </div>
                <p class="error"><span ng-if="vm.error.username.flag" ng-bind="vm.error.username.msg"></span></p>
                <div class="form-group">
                    <div class="input-group verify-group del-clearfix">
                        <span class="icon">
                            <!-- <svg viewBox="58 52 17 35" width="40" height="38" fill="#ffffff"><use xlink:href="/assets/icon_svgs/sprite.svg#verify"></use></svg> -->
                            <svg style="width:20px;height:20px;margin-top:10px;" fill="#ffffff"><use xlink:href="/assets/icon_svgs/symbol/svg/sprite.symbol.svg#verify"></use></svg>
                        </span>
                        <input type="password" class="verify-input" placeholder="验证码" ng-model="vm.verifyCode">
                    </div>
                    <!-- <button type="button" class="btn btn-green m-l-xs verify-btn">获取验证码</button> -->
                    <button type="button" class="btn btn-disabled m-l-xs verify-btn" ng-if="!vm.validateUsername( vm.username )">获取验证码</button>
                    <div zs-verifycode binddata="vm.verifyCodeParams" username="vm.username" ng-if="vm.validateUsername( vm.username )"></div>
                </div>
                <p class="error"><span ng-if="vm.error.verifyCode.flag" ng-bind="vm.error.verifyCode.msg"></span></p>
                <div class="form-group next-step">
                    <button class="btn btn-blue btn-full" ng-click="vm.stepOne();">下一步</button>
                </div>
            </form>
        </div>

        <!-- 第二步 -->
        <div class="row" ng-class="{ 'hide' : !vm.stepOneSuccess || vm.stepTwoSuccess }">
            <form class="edit-block">
                <div class="form-group">
                    <div class="input-group">
                        <span class="icon">                             
                            <!-- <svg viewBox="8 27 17 35" width="40" height="38" fill="#ffffff"><use xlink:href="/assets/icon_svgs/sprite.svg#Google_Plus"></use></svg> -->
                            <svg fill="#ffffff" style="width:20px;height:20px;margin-top:10px;"><use xlink:href="/assets/icon_svgs/symbol/svg/sprite.symbol.svg#password"></use></svg>
                        </span>
                        <input type="password" placeholder="设置一个新密码" ng-model="vm.password">
                    </div>
                </div>
                <p class="error"><span ng-bind="vm.error.password.msg" ng-if="vm.error.password.flag"></span></p>

                <div class="form-group">
                    <div class="input-group">
                        <span class="icon">                             
                            <!-- <svg viewBox="8 27 17 35" width="40" height="38" fill="#ffffff"><use xlink:href="/assets/icon_svgs/sprite.svg#Google_Plus"></use></svg> -->
                            <svg fill="#ffffff" style="width:20px;height:20px;margin-top:10px;"><use xlink:href="/assets/icon_svgs/symbol/svg/sprite.symbol.svg#password"></use></svg>
                        </span>
                        <input type="password" placeholder="确认新密码" ng-model="vm.passwordConfirm">
                    </div>
                </div>
                <p class="error"><span ng-bind="vm.error.passwordConfirm.msg" ng-if="vm.error.passwordConfirm.flag"></span></p>
                
                <div class="form-group next-step">
                    <button class="btn btn-blue btn-full" ng-click="vm.stepTwo();">修改</button>
                </div>
            </form>
        </div>

        <!-- 第三步 -->
        <div class="row hide" ng-class="{ 'hide' : !( vm.stepOneSuccess && vm.stepTwoSuccess )}">
            <div class="edit-block">
                <div>密码修改成功，请妥善保管您的密码！</div>
                <a href="/signin" class="btn btn-blue btn-lg login-btn">立即登录</a>
            </div>

        </div>

	</div>
</div>
