<div class="login-body">
	<div class="container">
		<div class="login-content">
			<div class="title text-center">账号登录</div>
			<div class="row m-t-lg">
				<form action="">
					<div class="form-group">
						<div class="input-group">
							<span class="icon">
                                <!-- <svg viewBox="64 25 17 35" width="40" height="38"><use xlink:href="/assets/icon_svgs/sprite.svg#Google_Plus"></use></svg> -->
                                <svg width="40" height="38"><use xlink:href="/assets/icon_svgs/symbol/svg/sprite.svg#Google_Plus"></use></svg>
							</span>
							<input type="text" placeholder="用户名"></div>
					</div>
					<div class="form-group m-t-sm">
						<div class="input-group">
							<span class="icon">
                                <!-- <svg viewBox="30 23 17 35" width="40" height="38" fill="#ffffff"><use xlink:href="/assets/icon_svgs/sprite.svg#password"></use></svg> -->
								<svg width="40" height="38" fill="#ffffff"><use xlink:href="/assets/icon_svgs/symbol/svg/sprite.svg#password"></use></svg>
							</span>
							<input type="password" placeholder="密码"></div>
					</div>
					<div class="form-group m-t-md">
						<p>
							<span class="forget-psw">
								<a href="#">忘记密码</a>
							</span>
							<span class="register">
								<a href="#">立即注册</a>
							</span>
						</p>
					</div>
					<div class="form-group m-t-xs">
						<button type="button" class="btn btn-green login-btn">登&nbsp;&nbsp;录</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
