<!-- 查看详细信息 -->
<div class="wrap bg-blue p-b-xlg">
	<div class="container user-agreement">
		<div class="row">
			<h2 class="text-center">《数据淘用户服务协议》</h2>
		</div>
		<div class="row m-t-lg">
			<p>欢迎使用数据淘（<a href="http://www.datataotao.com"><span class="text-blue">http://www.datataotao.com</span></a>），数据淘用户，必须同时具备下列条件：</p>
			<p class="indent">（1）完全同意此《数据淘用户服务协议》；</p>
        	<p class="indent">（2）数据淘的正式注册用户;</p>
        	<p class="indent m-t-sm">您注册除本《协议》有明确规定外，本《协议》并未对使用数据淘特别数据服务使用的个人或单位规定相关的服务条款。对于这些服务，一般有单独的服务条款加以规范，用户须在使用有关服务时另行了解与确认。单独的服务条款与本《协议》有冲突的地方，以单独的服务条款为准。如用户使用该服务，视为对相关服务条款的接受。</p>
		</div>

		<div class="row m-t-sm">
			<p class="ruleContent-title">一、服务内容</p>
            <p class="indent">数据淘网络服务的具体内容由数据淘根据实际情况提供。</p>
            <div class="row">
                <p class="indent">1. 除非本服务协议另有其它明示规定，数据淘所推出的新产品、新功能、新服务，均受到本服务协议规范。</p>
                <p class="indent">2. 为使用本服务，您必须能够自行经有法律资格对您提供互联网接入服务的第三方，进入国际互联网，并应自行支付相关服务费用。此外，您必须自行配备及负责与国际联网连线所需一切必要装备，包括计算机、数据机或其它存取装置。</p>
                <p class="indent">3. 鉴于网络服务的特殊性，用户同意数据淘有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。数据淘不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</p>               
                <p class="indent">4. 数据淘需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，数据淘无需为此承担任何责任。数据淘保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p>
                <p class="indent">5. 本服务或第三人可提供与其它国际互联网上网站或资源链接。由于数据淘无法控制这些网站及资源，您了解并同意，此类网站或资源是否可供利用，数据淘不予负责，存在或源于此类网站或资源任何内容、广告、产品或其它资料，数据淘亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，数据淘不承担任何责任。</p>
                <p class="indent">6. 用户明确同意其使用数据淘网络服务所存在的风险将完全由其自己承担。用户理解并接受下载或通过数据淘服务取得的任何信息资料取决于用户自己，并由其承担系统受损、资料丢失以及其它任何风险。数据淘对在服务网上得到的任何商品购物服务、交易进程、招聘信息，都不作担保。</p>
                <p class="indent">7. 6个月未登录的帐号，数据淘保留关闭的权利。</p>
                <p class="indent">8. 数据淘有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，数据淘对用户和任何第三人均无需承担任何责任。</p>
                <p class="indent">9. 终止服务</p>
                <p class="indent">10. 您同意数据淘得基于其自行考虑，因任何理由，包含但不限于长时间未使用，或数据淘认为您已经违反本服务协议的文字及精神，终止您的密码、帐号或本服务使用（或服务任何部分），并将您在本服务内任何内容加以移除并删除。您同意依本服务协议任何规定提供本服务，无需进行事先通知即可中断或终止，您承认并同意，数据淘可立即关闭或删除您的帐号及您帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，您同意若本服务使用被中断或终止或您的帐号及相关信息和文件被关闭或删除，数据淘对您或任何第三人均不承担任何责任。</p>
            </div>
		</div>

		<div class="row m-t-sm">
			<p class="ruleContent-title">二、 用户的帐号，密码和安全性</p>
            <p class="indent">用户一旦成为数据淘正式注册用户，即可以通过数据淘用户中心享受相应的数据服务。用户可随时根据需要改变自己的密码，并应对其密码严格保密。用户若发现任何非法使用或存在安全漏洞的情况，请立即以书面形式通告数据淘。</p>
		</div>

		<div class="row m-t-sm">
			<p class="ruleContent-title">三、 用户义务</p>
            <p class="indent">不得利用数据淘提供的数据危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用数据淘提供的数据制作、复制和传播下列信息：</p>
            <div class="row p-l-md">
                <p class="indent">(1) 煽动抗拒、破坏宪法和法律、行政法规实施的；</p>
                <p class="indent">(2) 煽动颠覆国家政权，推翻社会主义制度的；</p>
                <p class="indent">(3) 煽动分裂国家、破坏国家统一的；</p>
                <p class="indent">(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                <p class="indent">(5) 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
                <p class="indent">(6) 宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
                <p class="indent">(7) 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
                <p class="indent">(8) 损害国家机关信誉的；</p>
                <p class="indent">(9) 其他违反宪法和法律行政法规的；</p>
            </div>
		</div>

		<div class="row m-t-sm">
			<p class="ruleContent-title">四、 违约赔偿</p>
            <div class="row p-l-md">
                <p class="indent">(1)如因数据淘违反有关法律、法规或本协议项下的任何条款而给用户造成损失，数据淘同意承担由此造成的损害赔偿责任。</p>
                <p class="indent">(2)用户同意保障和维护数据淘及其他用户的利益，如因用户违反有关法律、法规或本《协议》项下的任何条款而给数据淘或任何其他第三者造成损失，用户同意承担由此造成的损害赔偿责任。</p>
            </div>
		</div>

		<div class="row m-t-sm">
			<p class="ruleContent-title">五、 服务条款的变更</p>
            <p class="indent">数据淘有权在必要时修改本《协议》的所有服务条款，服务条款一旦发生变动，将会在重要页面上提示修改内容或以其他方式通知用户。如果用户不接受服务条款的修改，可以随时停止使用数据淘提供的服务。 如果用户继续享用数据淘API服务，则视为接受本《协议》服务条款的变动。</p>
		</div>

		<div class="row m-t-sm">
			<p class="ruleContent-title">六、 法律适用</p>
            <p class="indent">本服务条款的效力和解释均适用中华人民共和国法律，用户和数据淘一致同意服从中国法院的管辖。如数据淘提供的数据服务条款与中华人民共和国法律相抵触，则这些条款将完全按法律规定重新解释，而其它条款则依旧保持对用户产生法律效力和影响。</p>
		</div>

		<div class="row m-t-sm">
			<p class="ruleContent-title">七、 其他规定</p>
            <div class="row">
                <p class="indent">1. 本《协议》构成双方对本《协议》约定事项及其他有关事宜的完整协议，除本《协议》规定的之外，未赋予本《协议》各方其他权利。</p>
                <p class="indent">2. 如本《协议》中的任何条款无论因何种原因完全或部分无效或不具有执行力，本《协议》的其余条款仍应有效并且有约束力。</p>
                <p class="indent">3. 本协议中的标题仅为方便而设，在解释本《协议》时应备忽略。</p>
            </div>
		</div>

		<div class="row m-t-sm">
			<p class="ruleContent-title">八、 意见及建议</p>
            <div class="row">
                <p class="indent">用户对服务任何部分后本服务条款的任何部分意见及建议可通过官方微博（<a href="http://weibo.com/u/5738616019" class="no-indent"><span class="text-blue">http://weibo.com/u/5738616019</span></a>）或官方qq（3348467558）与数据淘联系。</p>
            </div>
		</div>

		<div class="row text-center m-t-lg">
			<a href="/signup" class="btn btn-blue btn-lg">同意</a>
		</div>
	</div>
</div>
