<!-- 右边基本信息部分 -->
<div class="info-content feedback">
    <!-- 账号信息 -->
    <div class="info-block">
        <h3>修改密码</h3>

        <div class="row m-t-md careful">
        	请妥善保管您的登录密码
        </div>

        <div class="row m-t-md">
        	<form action="" class="form-border-bottom p-l-sm">
        		<div class="form-group">
        			<label for="" class="control-label col-2">原密码</label>
        			<div class="col-5">
                        <input type="password" class="form-control" placeholder="请输入原密码" ng-model="vm.password.old">         
                    </div>
        		</div>

                <div class="form-group m-t-sm">
                    <label for="" class="control-label col-2">新密码</label>
                    <div class="col-5">
                        <input type="password" class="form-control" placeholder="请输入一个新密码" ng-model="vm.password.new">         
                    </div>
                </div>

                <div class="form-group m-t-sm">
                    <label for="" class="control-label col-2">确认密码</label>
                    <div class="col-5">
                        <input type="password" class="form-control" placeholder="请确认新密码" ng-model="vm.password.newConfirm">         
                    </div>
                </div>

                <div class="form-group m-t-lg">
                    <label for="" class="control-label col-2">&nbsp;</label>
                    <div class="col-5">
                        <button type="button" class="btn btn-blue btn-lg" ng-click="vm.changePassword()">保存</button>
                    </div>
                </div>
                
        	</form>
        </div>
    </div>
</div>
