<!-- 右边基本信息部分 -->
<div class="info-content">    

    <!-- 基本信息 -->
    <div class="info-block base-info-set">
        <div class="row"><h3>编辑数据</h3></div>
        <div class="row careful text-red-shallow">
            由于您上传的附件内容违反了《数据淘用户协议》的第三条规定，该条数据暂未发布，请修改后重新提交审核，非常抱歉。
        </div>
        <div class="row m-t-sm">
            <form action="">               
                <div class="form-group m-t-xs">
                    <label for="" class="control-label col-2"><span class="text-red m-r-sm">*</span>定制标题</label>
                    <div class="col-8">                    	
                    	<input type="text" class="form-control" placeholder="请输入公司名称">                        
                            <div class="row error">数据标题不能为空</div>
                    </div>
                    <!-- <div class="col-10">
                        <p class="error">数据标题不能为空</p>                        
                    </div>           --> 
                </div>

                <div class="form-group">
                    <label for="" class="control-label col-2"><span class="text-red m-r-sm">*</span>定制分类</label>
                    <div class="col-3">                    	
                    	<select name="" id="">
                    		<option value="">社交网络</option>
                    	</select>
                    </div>
                </div>

                <div class="form-group m-t-sm">
                    <label for="" class="control-label col-2"><span class="text-red m-r-sm">*</span>定制标签</label>
                    <div class="col-8">                    	
                    	<textarea name="" id="" rows="3" placeholder="添加标签，最多选择5个"></textarea>
                        <div class="row error">数据标签不能为空</div>
                    </div>
                </div>

               
                <div class="form-group">
                    <label for="" class="control-label col-2"><span class="text-red m-r-sm">*</span>悬赏定价</label>
                    <div class="col-8">  
                    	<div class="col-2">                    		
	                    	<select name="" id="">
	                    		<option value="">价格</option>
	                    	</select>                  	
                    	</div>
                    	<div class="col-5 m-l-sm">
                    		<input type="text" class="form-control" placeholder="请输入具体价格">
                            <div class="row error">数据标签不能为空</div>
                    	</div>
                        <div class="col-2 m-l-xs text-md">元起</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label col-2"><span class="text-red m-r-sm">&nbsp;</span>截止日期</label>
                    <div class="col-8">
                        <div class="col-5">
                        	<label for=""><input type="radio" class="m-r-xs">长期有效</label>
                            <label for="" class="m-l-xlg"><input type="radio" class="m-r-xs">截止日期</label>                            
                        </div>
                        <div class="col-4">
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group m-t-sm">
                    <label for="" class="control-label col-2"><span class="text-red m-r-sm">*</span>定制详述</label>
                    <div class="col-8">                    	
                    	<textarea name="" id="" rows="3" placeholder="数据包括了全国的90%企业的行业数据，其中包括了..."></textarea>
                        <div class="row error">字数不得超过300个字/数据简介不能为空</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label col-2"><span class="text-red m-r-sm">*</span>联系人</label>
                    <div class="col-5">                    	
                    	<input type="text" class="form-control" placeholder="请输入联系人">
                        <div class="row error">联系人不能为空</div>                 
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label col-2"><span class="text-red m-r-sm">*</span>联系方式</label>
                    <div class="col-5">                    	
                    	<input type="text" class="form-control" placeholder="请输入联系方式">
                        <div class="row error">联系方式不正确/联系方式不能为空</div>                    
                    </div>
                </div>

                <div class="form-group m-t-lg m-b-xs">
                    <label for="" class="control-label col-2">&nbsp;</label>
                    <div class="col-5">
                        <button type="button" class="btn btn-save">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>