<!-- 右边基本信息部分 -->
<div class="info-content feedback">
    <!-- 账号信息 -->
    <div class="info-block">
        <h3>意见反馈</h3>

        <div class="row m-t-md careful">
        	感谢您使用数据淘！请留下您的宝贵意见或建议，我们会继续努力，持续改进！
        </div>

        <div class="row m-t-md">
        	<form action="">
        		<div class="form-group">
        			<label for="" class="control-label label p-l-sm">需求描述</label>
        			<textarea class="form-control" name="" id="" placeholder="请输入您对需求的描述" ng-model="vm.content"></textarea>
        		</div>
        		<div class="form-group m-t-lg">
        			<label for="" class="control-label label">&nbsp;</label>
        			<button type="button" class="btn btn-lg btn-navy" ng-click="vm.checkInfo()">提交</button>
        		</div>
        	</form>
        </div>
    </div>

</div>