<!-- 查看详细信息 -->
<div class="wrap bg-blue-shallow p-t-md">	
	<div class="container">
		<div class="row details">			
			<div class="main-content">
				<div class="row">
					<!-- 当前所在位置 -->
					<div class="position">
						<ul>
							<li><a href="#">个人中心</a></li>
							<li><a href="#">消息</a></li>
							<li>您的反馈有了新的回复</li>
						</ul>
					</div>					
				</div>

				<!-- 详情信息部分 -->
				<div class="row detail-content m-t-sm">
					<div class="row detail-title">
						<h2>意见反馈</h2>
					</div>
					<div class="row text-gray text-sm m-t-xs">2016-03-11</div>

					<div class="row m-t-md">
						<p><h3 class="b-l-navy">反馈内容</h3></p>
						<div class="article text-indent m-t-sm">
							数据说明数据简介本数据抓取这个那里自全国企业信用系统那个网站，3000万家企业信用系统网站，3000万家企业的基本信息数据。数据数量3000数据说明数据简介本数据抓取这个那里自全国企业信用系统那个网站，3000万家企业信用系统网站，3000万家企业的基本信息数据。数据数量3000数据说明数据简介本数据抓取这个那里自全国企业信用系统那个网站，3000万家企业信用系统网站，3000万家企业的基本信息数据。数据数量3000
						</div>							
					</div>

					<div class="row m-t-xlg">
						<p><h3>意见重复</h3></p>
						<div class="row">
							<div class="article text-indent m-t-sm">
								数据说明数据简介本数据抓取这个那里自全国企业信用系统那个网站，3000万家企业信用系统网站，3000万家企业的基本信息数据。数据数量3000数据说明数据简介本数据抓取这个那里自全国企业信用系统那个网站，3000万家企业信用系统网站，3000万家企业的基本信息数据。数据数量3000数据说明数据简介本数据抓取这个那里自全国企业信用系统那个网站，3000万家企业信用系统网站，3000万家企业的基本信息数据。数据数量3000
							</div>
						</div>
					</div>
					
				</div>	

				<!-- 说明 -->
				<div class="row explain m-t-sm hide">
						本数据由用户上传或公开渠道发布，版权归发布者所有，如无意中侵犯了您的版权，请发送邮件至service@datatao.com，并提供相应证明，本站将在5个工作日内进行评估和解决。
				</div>			

			</div>
		</div>
	</div>
</div>