<!-- 右边基本信息部分 -->
<div class="info-content">
    <!-- 账号信息 -->
    <div class="info-block my-download">
        <h3>下载统计</h3>
        <div class="m-t-md">
            您已下载<span class="number" ng-bind="vm.totalDownload"></span>条数据
        </div>
    </div>

    <!-- 基本信息 -->
    <div class="info-block m-t-sm p-none">
        <table class="table" cellspacing="0" cellpadding="0">
        	<thead>
	        	<tr>
	        		<th class="col-3">下载时间</th>
	        		<th class="col-7">数据标题</th>
	        		<th class="col-2">
                        <!--
	        			<div class="zs-select-unit-list">
                            <zs-select options="vm.dataCategoryArr" selectedvalue="vm.selectedDataCategory" on-change="vm.onCategoryChange"></zs-select>	        				
	        			</div>
                        -->
                        数据类型
                    </th>
	        	</tr>	
        	</thead>
        	<tbody>
                <tr ng-if="vm.total === 0">
                    <td colspan="3" class="usercenter-list-empty">
                        <span>
                            您还没有下载过任何数据哦！～<br>
                            去<a href="/search/list">数据市场</a>逛逛吧。
                        </span>
                    </td>
                </tr>

	        	<tr ng-repeat="downloadInfo in vm.myDownloadList" ng-click="vm.viewMyDownloadDetail( downloadInfo.id );">
	        		<td class="col-3" ng-bind="downloadInfo.downTime*1000 | date : 'yyyy-MM-dd'">2016-03-09</td>
	        		<td class="col-7"><div class="col-10 ellipsis" ng-bind="downloadInfo.title">5.5亿新浪微博基本用户信息</div></td>
	        		<td class="col-2" ng-bind="vm.dataCategoryReverseObj[downloadInfo.category].name">社交网络</td>
	        	</tr>
        	</tbody>        	        	
        </table>
    </div>

    <!-- <div class="row m-t-sm pagination-md" ng-include="'/components/pagination/pagination.html'" scope="" onload=""> -->
    <div class="row m-t-sm pagination-md" ng-if="vm.pageTotal > 1">
        <div class="pagination" pagination-directive page-index="vm.getMyDownloadListParams.page" page-total="vm.pageTotal"></div>
    </div>
    	
    </div>
</div>
