<!-- 查看详细信息 -->
<div class="wrap bg-grid p-t-md">	
	<div class="container">
		<div class="row details">			
			<div class="main-content">

				<!-- 详情信息部分 -->
				<div class="row detail-content m-t-sm">
					<div class="row detail-title">
						<h2 class="text-blue">数据淘简介</h2>
					</div>
					<div class="article m-t-md indent">数据淘时一个数据垂直搜索工具，同时也是数据供需双方免费沟通交流的平台。</div>

					<div class="row m-t-xlg">
						<p><h3 class="b-l-navy">服务内容</h3></p>
						<div class="article text-indent m-t-sm">
							<ol>
								<li>精确的数据搜索：用户输入简单关键词，即可找到所需数据；平台为您精确匹配，提高用户的搜索效率。</li>
								<li>海量的数据：已聚合国内外众多数据源，让数据需求者方便快捷找到需要的数据。</li>
								<li>免费的数据发布平台：数据拥有者可免费在平台发布已有的数据或数据介绍，让您的数据可以快速被搜索到。</li>
								<li>便捷的数据定制平台：用户可免费发布数据需求。</li>
							</ol>
						</div>
					</div>

					<div class="row m-t-md">
						<p><h3 class="b-l-navy">服务目的</h3></p>
						<div class="article text-indent m-t-sm">
							<ol>
								<li>专注数据搜索，建立数据垂直搜索第一品牌</li>
								<li>打破数据供需壁垒，建立数据免费交易渠道</li>
							</ol>
						</div>
					</div>

					<div class="row m-t-md">
						<p><h3 class="b-l-navy">版权与免责声明</h3></p>
						<div class="article text-indent m-t-sm">
							<ol class="p-r-md">
								<li>网站内容均来自公开或第三方平台，如果有侵权行为，请及时联系我们。</li>
								<li>任何已获授权的转载或引用本网站内容都必须已获取信息为目的，不得用于商业目的。</li>
								<li>转载或引用本网站所有内容须注明“转自（或引自）数据淘”字样，并标明本网网址datataotao.com。</li>
								<li>本网站数据来源于公开网络或用户发布，版权归发布者所有，如果无意中侵犯了您的版权，请发送邮件至service@datatao.com告知，并提供相应的证明，本站将在5个工作日内进行评估和解决。</li>
							</ol>
						</div>
					</div>

					<!-- 分割线 -->
					<div class="row m-t-lg split-circle">
						<span class="left-circle"></span><hr><span class="right-circle"></span>
					</div>

					<div class="row detail-title" id="company">
						<h2 class="text-green">公司简介</h2>
					</div>
					<div class="article p-md indent">
						数据淘隶属于成都知数科技有限公司，公司立足于互联网大数据以及大数据分析挖掘技术，为企业提供技术解决方案以及智能决策支撑。拥有国内领先的数据采集能力，海量的社交、电商、新闻、企业等领域数据以及资深国内顶尖的科学家与数据挖掘分析团队。公司与电子科技大学大数据研究中心深度合作，共同推进大数据在行业趋势、细分领域、实体企业的应用研究。核心团队来源于百度、阿里巴巴、搜狗等国内一线互联网公司，70%以上的核心团队成员具有硕士及以上学历。公司及旗下产品详细介绍：wolongdata.com
					</div>


					<div class="row m-t-sm">
						<p><h3>联系我们</h3></p>
						<div class="article indent m-t-sm">
							<p>地址：成都市高新区天府三街19号新希望国际A座606</p>
                			<p>联系电话：028-61556366</p>
                			<p>邮箱：service@datataotao.com</p>
                			<p>客服QQ：3348467558</p>
                			<p>QQ群：127905884</p>
						</div>
					</div>					
				</div>	

			</div>
		</div>
	</div>
</div>
